<form id="assignform" method="post" action="{{{page_url}}}">
  <div>
    <input type="hidden" name="sesskey" value="{{{sesskey}}}">
    <input type="hidden" name="returnurl" value="{{{returnurl}}}">

    <table summary="" class="generaltable generalbox boxaligncenter" cellspacing="0">
      <tr>
      <td id="existingcell">
          <p><label for="removeselect">{{#str}}currentusers,cohort{{/str}}</label></p>
          {{{existinguserselector}}}
      </td>
      <td id="buttonscell">
          <div id="addcontrols">
              <input name="add" id="add" type="submit" value="◄ Add" title="◄ Add" /><br />
          </div>

          <div id="removecontrols">
              <input name="remove" id="remove" type="submit" value="Remove ►" title="Remove ►" />
          </div>
      </td>
      <td id="potentialcell">
          <p><label for="addselect">{{#str}}potusers,cohort{{/str}}</label></p>
          {{{potentialuserselector}}}
      </td>
      </tr>
      <tr>
        <td colspan="3" id='backcell'>
          <input type="submit" name="cancel" value="{{#str}}backtocohorts,cohort{{/str}}" />
        </td>
      </tr>
    </table>
</div>
</form>