{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitesetting/customise

    Note: collapse/show functionality as well as check/uncheck functionality is 
          developed using javascript (custom.js) file. Any change in HTML DOM 
          structure can break these functionalities, so change cautiously.

    @author: 2021 Akashy Pingale (akashy.p@paradisosolution.com)
    @paradiso

}}
<div>
    <div class="col-sm-12 titepeople">
        <h2 class="title-coursecoursewizard">{{#str}}pluginname, local_people{{/str}}</h2>
        <p class="description_newcourse">{{#str}}peopledesc, local_people{{/str}}</p>
    </div>
    <div class="row content px-0">
    {{{buttonblock}}}
    </div>
    {{{filterblock}}}
    {{{userblock}}}
    </div>
    </div>
    
    