{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sitesetting/customise

    Note: collapse/show functionality as well as check/uncheck functionality is 
          developed using javascript (custom.js) file. Any change in HTML DOM 
          structure can break these functionalities, so change cautiously.

    @author: 2021 Akashy Pingale (akashy.p@paradisosolution.com)
    @paradiso

}}
<div class="panel panel-grey panel-bordered">
    <div class="panel-heading panel-grey">
        <h5 class="panel-title">
            <a href="#collapse1" class="plms-reports-dropdown collapsed" data-toggle="collapse" data-parent="#accordion">
                {{#str}}firstname, local_people{{/str}}
                <i class="reports-dropdown fa fa-angle-down collapsed"></i>
            </a>
        </h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                {{#firstnamevalue}}
                    <a href="#" data-name="firstname" class="reset">{{#str}}clear, local_people{{/str}}</a>
                {{/firstnamevalue}}
                <div class="clr_button"></div>
                <div class="col-md-12 searchbox">
                    <form id="form-firstname" class="bv-form" method="post" action="">
                        <div class="form-group">
                            <div class="input-group custom-search-form">
                                <input type="text" id="firstname" name="firstname" class="form-control input-lg" placeholder="{{#str}}Search..., local_people{{/str}}" value="{{{firstname}}}" autocomplete="off">
                            </div>
                        </div>
                        <button type="submit" id="textfilter" class="btn btn-success btn-labeled fa fa-search loadiframe" name="textfilter" value="firstname">{{#str}}search, local_people{{/str}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>            
                


