#page-admincontrol switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  #page-admincontrol .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  #page-admincontrol .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #page-admincontrol .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #page-admincontrol input:checked + .slider {
    background-color: #2196F3;
  }
  
  #page-admincontrol input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  #page-admincontrol input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  #page-admincontrol .slider.round {
    border-radius: 34px;
  }
  
  #page-admincontrol .slider.round:before {
    border-radius: 50%;
  }
  #page-admincontrol .fixwidth {
    width: 50% !important;
  }


  .checkbox label {
    position: relative;
  }
  
  #page-admincontrol .fixwidth input {
    display: none;
  }
  
  .checkbox input~.checkmark {
    background: #ee0b0b;
    width: 25px;
    display: inline-block;
    position: relative;
    height: 22px;
    border-radius: 2px;
    vertical-align:middle;
    margin-right:10px;
  }
  
  .checkbox input~.checkmark:after,
  .checkbox input~.checkmark:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 16px;
    background: #fff;
    left: 12px;
    top: 4px;
  }
  
  .checkbox input~.checkmark:after {
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .checkbox input~.checkmark:before {
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .checkbox input:checked~.checkmark {
    background: #3d8a00;
    width: 25px;
    display: inline-block;
    position: relative;
    height: 22px;
    border-radius: 2px;
  }
  
  .checkbox input:checked~.checkmark:after {
    display: none;
  }
  
  .checkbox input:checked~span.checkmark{
    background: none;
    border: 2px solid #fff;
    width: 6px;
    top: 2px;
    left: 9px;
    border-top: 0;
    border-left: 0;
    height: 13px;
    top: 2px;
  }

  .fixwidth i{
    font-size: 19px;
  }
  .fixwidth label {
    font-size : 14px;
  }