<div class="content-title">
{{#blinker}}
<div class="dot popup binker" data-value="learning-paths" data-toggle="modal" data-target="#myModal-videopopup" data-backdrop="static" data-keyboard="false"></div>
{{/blinker}}
  <h2 class="title-learning">{{#str}}pluginname, local_learningpaths{{/str}}</h2>
  <span class="txt-learning">{{#str}}descriptionname, local_learningpaths{{/str}}</span>
{{{learningpaths_view}}}
</div>