<ul class="nav nav-tabs w-100">
  {{#tabs}}
    <li class="nav-item" id="{{tab}}-button">
      <a data-toggle="tab" class="nav-link {{itemclasses}}" href="#learningpath-{{tab}}-tab">{{tabname}}</a>
    </li>
  {{/tabs}}
</ul>

