<div class="content-title back row">
  <div class="">
    <a class="back_page" href="{{site_url}}/local/learningpaths/#">
      <i class="wid wid-icon-phback-to fa fa-chevron-circle-left" aria-hidden="true" title="{{#str}}back, local_learningpaths{{/str}}">
      </i>
    </a>
  </div>
  <div class="col-md-11">
    <h2 class="title-learning">{{learningpathdataname}}</h2>
    <span class="txt-learning">{{#str}}descriptionname_int, local_learningpaths{{/str}}</span>
  </div>
</div>
<div class="content tabs-panel">
  <div class="row tbs-content">
  {{{learningpathrender_navigation_tabs}}}
  </div>
</div>
<div class="tab-content">
{{{learningpathrender_tabs}}}
</div>