
<div class="deprication-tooltip">
    <button type="button" class="btn btn-icon btn-default d-flex justify-content-center align-items-center p-p-3  rounded-0 btn-outline border-0"  data-original-title="Settings" data-placement="left" data-trigger="hover">
        <i class="edw-icon edw-icon-XSS-risk " style="font-size: 24px;" aria-hidden="true"></i>
    </button>
    {{#str}}deprication-tooltip-text,local_remuihomepage{{/str}}
</div>
