
<div class="deprication-tooltip">
    <button type="button" class="hidden-sm-down btn btn-floating d-flex align-items-center justify-content-center btns-animate animate-2 deprication-warning-btn" style="background: #343A40!important; width: 48px;height: 48px;border-radius: 50%;margin-top: 10px;" data-original-title="Settings" data-placement="left" data-trigger="hover">
        <i class="edw-icon edw-icon-XSS-risk " style="font-size: 24px;" aria-hidden="true"></i>
    </button>
    {{#str}}deprication-tooltip-text,local_remuihomepage{{/str}}
</div>


