<tr>
  <td><input type="file" class="form-control selectfontfile" id="selectfontfile" name="file[]" required=""></td>
  <td><input id="fontfamily"  name="fontfamily[]" type="text" placeholder="Ex:- La Belle Aurore, cursive" class="form-control input-md fontfamily" required=""></td>
  <td>
    <select id="selectstyle" name="selectstyle[]" class="form-control">
      <option value="normal">normal</option>
      <option value="italic">italic</option>
    </select>
  </td>
  <td><input id="fonttype" name="fonttype[]" type="text" placeholder="Font Type" class="form-control input-md fonttype"></td>
  <td>
    <select id="fontweight" name="fontweight[]" class="form-control">
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
      <option value="400">400</option>
      <option value="500">500</option>
      <option value="600">600</option>
      <option value="700">700</option>
      <option value="800">800</option>
      <option value="900">900</option>
    </select>
  </td>
  <td>
  <button class="btn btn-primary add_data" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  <button class="btn btn-primary close_row" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  </td>
</tr>