{{!
    @template local_enroll_by_profile/condition_itson

    This template renders the content of the value filed in automation hub add rules form
    This template is used for conditional cases : itson
}}


	{{#fields}}
		{{> local_enroll_by_profile/fieldDataPicker }}
	{{/fields}}

<input type="hidden" name="{{negatedconditional}}" id="id_negatedrule{{id}}" value="{{negatedconditionalstring}}" class="form-control">