<select id="id_boolop" class="form-control sm col-sm-2">
	<option value="and">{{#str}} and,local_enroll_by_profile {{/str}}</option>
	<option value="or">{{#str}} or,local_enroll_by_profile {{/str}}</option>
</select>