<div class="tab-wrapper ">
<!-- Top Header -->
<div class="w-full bg-gradient-to-r from-slate-400 to-slate-700 p-10 rounded-xl mb-6">
  <div class="flex items-center gap-6">
    
    <!-- Avatar -->
    <div class="w-20 h-20 rounded-xl text-white text-2xl font-bold flex items-center justify-center {{avatar_class}}">
      {{avatar_text}}
    </div>

    <!-- Company Info -->
    <div>
      <h1 class="text-3xl font-semibold text-white">{{compnay_name}}</h1>
      <p class="text-white/80 mt-1">
        {{location}} • Managed by {{company_creator_name}}
      </p>
    </div>
  </div>
</div>
<div class="mb-6 d-flex justify-row items-center">
<div class="bg-white rounded-xl p-4 col-md-7">
  {{{tabhtml}}}
</div>
  <div class="relative col-md-4">
    <span class="material-icons absolute left-3 top-3 text-gray-400">search</span>
    <input
      type="text"
      name="search-mt"
      value="{{search}}"
      placeholder="Search for Company"
      class="w-full pl-10 px-6 py-3 mr-2 rounded-xl border border-gray-200 focus:ring-2 focus:ring-blue-500"
    />
  </div>
</div>

{{#hasstats}}
<div class="grid grid-cols-1 md:grid-cols-4 gap-3 mb-10 top-stat-e">
  {{#stats}}
    <div class="stat-card {{bg}}" style="border:1px solid hsl(240 6% 90%)">

      <div class="flex justify-between items-start">
        <div class="stat-icon {{iconbg}}">
          <span class="material-symbols-rounded">
            {{icon}}
          </span>
        </div>
      </div>

      <p class="stat-label">{{label}}</p>
      <h2 class="stat-value">{{value}}</h2>

    </div>
  {{/stats}}
</div>
{{/hasstats}}

{{#is_tab_1}}
{{#has_quick_actions}}
<h2 class="text-2xl font-semibold mb-6 ">Quick Actions</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 edit-ui-t">
  {{#tenant_menus}}
    <a href="{{{url_new}}}" class="group">
      <div class="menu-card" style="border:1px solid hsl(240 6% 90%)">

        <div class="icon-box {{icon_bg}}">
          <span class="material-symbols-rounded">
            {{icon}}
          </span>
        </div>

        <h3 class="menu-title">{{action}}</h3>
        <p class="menu-desc">
          Manage and configure {{action}}
        </p>

      </div>
    </a>
  {{/tenant_menus}}
</div>
{{/has_quick_actions}}
{{/is_tab_1}}

{{#is_tab_2}}
{{#has_quick_actions}}
<h2 class="text-2xl font-semibold mb-6 ">Quick Actions</h2>

{{/has_quick_actions}}
{{/is_tab_2}}

{{#show_company_info}}
<div class="bg-white rounded-xl p-6 mt-10 {{#is_tab_2}}d-none{{/is_tab_2}}">
  <h3 class="text-xl font-semibold mb-6">Company Information</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div class="flex items-center gap-4 border p-4 rounded-lg">
      <div class="icon-box bg-[#5f948d]">
        <span class="material-icons text-white">location_on</span>
      </div>
      <div>
        <p class="text-gray-500">Address</p>
        <p class="font-medium">{{company_address}}</p>
      </div>
    </div>

    <div class="flex items-center gap-4 border p-4 rounded-lg">
      <div class="icon-box bg-[#003152]">
        <span class="material-icons text-white">email</span>
      </div>
      <div>
        <p class="text-gray-500">Email</p>
        <p class="font-medium">{{company_email}}</p>
      </div>
    </div>

    <div class="flex items-center gap-4 border p-4 rounded-lg">
      <div class="icon-box bg-[#042b26]">
        <span class="material-icons text-white">phone</span>
      </div>
      <div>
        <p class="text-gray-500">Phone</p>
        <p class="font-medium">{{company_phone}}</p>
      </div>
    </div>

    <div class="flex items-center gap-4 border p-4 rounded-lg">
      <div class="icon-box bg-[#2dd4bf]">
        <span class="material-icons text-white">check</span>
      </div>
      <div>
        <p class="text-gray-500">Status</p>
        <p class="font-medium">{{company_status}}</p>
      </div>
    </div>

  </div>
</div>
{{/show_company_info}}
</div>
